<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div  *ngIf="blogpost$ | async as blogpost">
        <div class="blog-left">
          <h1>{{blogpost.title}}</h1>
          <div class="posted-on">
              <p>by <span>{{blogpost.author}}</span> on <span>{{blogpost.created_at}}</span></p>
          </div>
          <div class="detail-img">
             <img src={{blogpost.image}} alt="blog1" />
          </div>
          <div class="blog-desc" innerHTML={{blogpost.description}}></div>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <app-recent-blog></app-recent-blog>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
