<div class="container">
  <div class="row py-3">
    <div class="col-6">
      <h3>Manage Blogs</h3>
    </div>
    <div class="col-6 text-right">
      <button [routerLink]="['/admin/blogs/create']"  class="btn btn-success">Add Post</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <tr class="text-center">
          <th class="py-3">S.No.</th>
          <th class="py-3">Image</th>
          <th class="py-3">Title</th>
          <th class="py-3">Action</th>
        </tr>
        <tr class="text-center" *ngFor="let item of serverData">
          <td class="py-3">{{item.id}}</td>
          <td class="py-3"><img [src]="item.image" alt="" class="admin_img"></td>
          <td class="py-3">{{item.title}}</td>
          <td class="py-3">
            <button class="btn btn-primary mx-2" [routerLink]="['/admin/blogs/edit/' + item.id]">Edit</button>
            <button (click)="onDelete(item.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
